---
import GitHub from "./icons/GitHub.astro"
import Download from "./icons/Download.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Python from "./icons/Python.astro"
import SQL from "./icons/SQL.astro"
import AWS from "./icons/AWS.astro"
import PowerBI from "./icons/PowerBI.astro"
import Excel from "./icons/Excel.astro"

import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import DownloadButton from "./DownloadButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },

  PYTHON: {
    name: "Python",
    class: "bg-[#003159] text-white",
    icon: Python,
  },

  SQL: {
    name: "SQL",
    class: "bg-[#003159] text-white",
    icon: SQL,
  },

  AWS: {
    name: "AWS",
    class: "bg-[#003159] text-white",
    icon: AWS,
  },

  POWERBI: {
    name: "Power BI",
    class: "bg-[#003159] text-white",
    icon: PowerBI,
  },

  EXCEL: {
    name: "Excel",
    class: "bg-[#003159] text-white",
    icon: Excel,
  },
}
const PROJECTS = [
  {
    title: "NotWorking to Networking ETL and data analisys",
    description:
      "This project is about the impact and evolution of the industry-specific meet-ups for Latinos hosted by notworking2networking. Extraction of valuable insights, patterns identification, organazing the data, creation of visualizations and interpretation of results.",
    link: "http://3.99.181.155:8050/",
    github: "https://github.com/DavidAndres6870/ETL-n2n",
    image: "/projects/n2n.webp",
    tags: [TAGS.PYTHON, TAGS.AWS, TAGS.POWERBI],
    download:"/projects/n2n dashboard.pdf",
    file:"n2n dashboard.pdf",
  },

  {
    title: "Benvenito case",
    description:
      "An e-commerce company called Benvindo, located in Brazil has shared their data with you. General Management is interested in learning more about your business operations. They want to know more about your products and your customers so they can make decisions about your product lines.",
    github: "https://github.com/DavidAndres6870/Benvindo-case",
    image: "/projects/benvindo-case2.webp",
    tags: [TAGS.SQL, TAGS.PYTHON, TAGS.POWERBI],
  },

  {
    title: "Workout progress and basic nutrition",
    description:
      "Excel spreadsheet to track the personal progress in the gym basic exercises.",
    //link: "https://adventjs.dev",
    github: "https://github.com/DavidAndres6870/gym-tracker",
    image: "/projects/gym.webp",
    tags: [TAGS.EXCEL],
    download:"/projects/Gym tracker.xlsx",
    file:"Gym tracker.xlsx",
  },

]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, download, file }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-4 row-span-3 gap-6 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="image" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-100 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
          {download && (
            <DownloadButton href={download} download={file}>
              <Download class="size-6" />
              Download
              
            </LinkButton>
          )}


        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>


